
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <div class="container login-f">
      <div class="row">
        <form class="col s12 m6 offset-m3" action="{% url 'send_mail' %}" id="form" method="post">
        {% csrf_token %}
            <input id="email" type="email" name="email" class="validate">
            <button type="submit"> SignUp </button>
        </form>
      </div>
    </div>
  </body>
</html>